body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addImageDancerButton, .addSpriteDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -webkit-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -ms-transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  transform: rotateX(-75deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.gif {
  position: absolute;
  -webkit-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -ms-transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  transform: rotateX(-75deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sprite {
  background-position: 0 0;
}

.danceFloor {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform: rotateX(75deg);
  -moz-transform: rotateX(75deg);
  -ms-transform: rotateX(75deg);
  -o-transform: rotateX(75deg);
  transform: rotateX(75deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}